*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#corsor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #edbfff;
    position: fixed;
    z-index: 8;
    mix-blend-mode: difference;
    /* transition: all linear .1s; */
    transition: background-image ease 0.5s ;
    background-position: center;
    background-size: cover;
}
#main{
    background-color: #0f0f0f;
}
#page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}
#nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
    margin-top: -10%;
}
#nav img{
    height: 26px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid gray;
}
#page1 h1{
font-size: 8vw;
font-family: pp mori;
font-weight: 300;
margin-top: 15vw;
transform-origin: left;
margin-left: 8vw;
}
#page1 h2{
    font-size: 8vw;
    /* font-family: pp mori; */
    transform-origin: left;
    font-weight: 300;
    margin-left: 26vw;
    }
#video{
    height: 50vh;
    width: 60%;
    background-color: red;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
#page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid rgba(94, 93, 93, 0.744);
    position: relative;
    z-index: 9;
}
#page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #eae4e4;

}
#page2-cont{
    height: 60vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
    background-color: #fff;
}
#page2-left{
    /* background-color: blue; */
    width: 35%;
}
#page2-right{
    /* background-color: blue; */
    width: 25%;
}
#page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
#page2-right p{
    font-size: 28px;
    color: #111;
}
#page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: #111;
    margin-top: 20px;
}
#page3{
    position: relative;
   min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    z-index: 9;
}
#page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
#img, #video2{
    height: 40vh;
    width: 40vw;
    background-color: red;
}
#page3-part1{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
#page3-part1>#img{
    height: 600px;
    margin-top: 150px;
}
#page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 100px;
}
#elem{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#elem img{
    height: 300px;
    width: 300px;
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(10deg);
}
#elem img:nth-child(1){
    left: 2%;
}
#elem img:nth-child(3){
    right: 10%;
}

#text-div{
    /* background-color: lightblue; */
    height: 145px;
    overflow: hidden;
}
#elem h1{
    font-size: 8vw;
    transition: all ease-out 0.5s;
}
#elem:hover h1{
    transform: translateY(-100%);
}
#elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#page5{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
#page5 h2{
    font-size: 4vw;
    text-transform:uppercase ;
    font-weight: 400;
    margin-bottom: 50px;
}
#box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}
#box:nth-child(6){
    border-bottom: 2px solid #dadada;
}
footer{
    height: 70vh;
    width: 100%;
    background-color: #dadadac3;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer h1{
    margin-top: -30px;
    color: #0f0f0f;
    font-size: 20vw;
   
}
#box10{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
#box10 .part5 h2{
    color: #0f0f0f;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 100;
}
